frontend/node_modules
frontend/yarn.lock
frontend/build
frontend/package-lock.json
frontend/build



**/node_modules
/node_modules
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.DS_Store
**/.DS_Store

.idea/
.idea
**/.idea
**/.idea/
cs331e-idb.iml
modules.xml
vcs.xml
workspace.xml

package-lock.json
**/package-lock.json

__pycahce__
**/__pycache__
